{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
    href="{% static 'css/flexboxgrid.css' %}"
    type="text/css"
    rel="stylesheet"
  />
    <title>{% block title %} ultima | prescripcion {% endblock title %}</title>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center pb-2">Prescripcion</h1>
      <div class="pt-4 pb-4">
              {% for R in pres %}
            
              <li> ID Prescripcion: {{R.0}}</li>
              <li> Fecha:  {{R.1}}</li>
              <li> Rut Medico: {{R.2}} </li>
              <li> Rut Paciente: {{R.3}}</li>
              ---------------------------------------------------------<br/>
            {% endfor %}

            {% for F in filtro %}
              <li> Cod de Entrega: {{F.4}}</li>
              <li> Medicamento: {{F.1}}</li>
              <li> Cantidad: {{F.3}}</li>
              <li> Detalle: {{F.2}}</li>
              ---------------------------------------------------------<br/>
              
            {% endfor %}

      </div>
    </div>

    <br/>
  </body>
</html>
